{% extends "Base/base.html" %}
{% load bootstrap5 %}

{% block titulo_pagina %}
Cadastrar
{% endblock %}

{% block raiz %}
Veiculo
{% endblock %}

{% block titulo %}
Cadastrar
{% endblock %}

{% block conteudo %}

<div class="row">
    <div class="col-xl">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Dados do veiculo</h5>
          <small class="text-muted float-end">Informações cadastrais sobre o veículo</small>
        </div>
        <div class="card-body">
          <form method="POST"> 
            {% csrf_token %}
            <div class="row">                 
              <div class="row">
                <div class="col-sm-4">  
                  <label for="marca" class="form-label">
                    {{veiculo_form.marca.label}}
                    <strong style="color:red;"> *</strong>
                  <label>
                    {{ veiculo_form.marca}}
                    {% if veiculo_form.marca.errors %}
                      <label class="error">
                        {% for error in veiculo_form.marca.errors %}
                          {{error}}
                        {% endfor %}
                      </label>
                    {% endif %}
                </div>
                <div class="form-group col-md-4">  
                  <label>
                    {{veiculo_form.tipo.label}}
                    <strong style="color:red;"> *</strong>
                  <label>
                  {{ veiculo_form.tipo}}
                  {% if veiculo_form.tipo.errors %}
                    <label class="error">
                      {% for error in veiculo_form.tipo.errors %}
                        {{error}}
                      {% endfor %}
                    </label>
                  {% endif %}
                </div> 
                <div class="form-group col-md-4">  
                  <label>
                    {{veiculo_form.placa.label}}
                    <strong style="color:red;"> *</strong>
                  <label>
                      {{ veiculo_form.placa}}
                      {% if veiculo_form.placa.errors %}
                        <label class="error">
                          {% for error in veiculo_form.placa.errors %}
                            {{error}}
                          {% endfor %}
                        </label>
                    {% endif %}
                </div>  
                <div class="form-group col-md-3">  
                  <label>
                    {{veiculo_form.kilometragem.label}}
                    <strong style="color:red;"> *</strong>
                  </label>
                  {{ veiculo_form.kilometragem}}
                  {% if veiculo_form.kilometragem.label.errors %}
                    <label class="error">
                      {% for error in veiculo_form.kilometragem.label.errors %}
                        {{error}}
                      {% endfor %}
                    </label>
                  {% endif %}
                </div>
                <div class="form-group col-md-3">  
                  <label>
                    {{veiculo_form.ano_fabricacao.label}}
                    <strong style="color:red;"> *</strong>
                  </label>
                  {{ veiculo_form.ano_fabricacao}}
                  {% if veiculo_form.ano_fabricacao.label.errors %}
                    <label class="error">
                      {% for error in veiculo_form.ano_fabricacao.label.errors %}
                        {{error}}
                      {% endfor %}
                    </label>
                  {% endif %}
                </div>
              </div>                       
              <div class="form-group" style="padding: 15px;">  
                <button type="submit" class="btn btn-primary ">Cadastrar</button>
              </div>    
            </div>      
          </form>  
        </div>
      </div>
    </div>
</div> 


{% endblock %}