{% extends "Base/base.html" %}
{% load bootstrap5 %}

{% block titulo_pagina %}
Cadastrar
{% endblock %}

{% block raiz %}
Agendamento
{% endblock %}

{% block titulo %}
Cadastrar
{% endblock %}

{% block conteudo %}

<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Dados do Agendamento</h5>
        <small class="text-muted float-end">Informações cadastrais sobre o agendamento do veículo</small>
      </div>
      <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{ agenda_form.as_p }}
            <div class="row">
              <div class="col-sm-12">
                <label for="descricao" class="form-label">{{ form.descricao.label }}</label>    
                {{ form.descricao }}
                  {% if form.descricao.errors %}
                    <label class="error">
                      {% for error in form.descricao.errors %}
                        {{ error }}
                      {% endfor %}
                    </label>
                  {% endif %}
              </div>
              <div class="mb-3 col-md-6">
                <label for="data_saida" class="form-label">{{ form.data_saida.label }}
                  <strong style="color:red;"> *</strong>
                </label>
                {{ form.data_saida }}
                {% if form.data_saida.errors %}
                  <label class="error">
                    {% for error in form.data_saida.errors %}
                      {{ error }}
                    {% endfor %}
                  </label>
                {% endif %}
              </div>
              <div class="mb-3 col-md-6">
                <label for="data_retorno" class="form-label">{{ form.data_retorno.label }}
                  <strong style="color:red;"> *</strong>
                </label>
                {{ form.data_retorno }}
                {% if form.data_retorno.errors %}
                  <label class="error">
                    {% for error in form.data_retorno.errors %}
                      {{ error }}
                    {% endfor %}
                  </label>
                {% endif %}
              </div>
              <div class="mb-3 col-md-6">
                <label for="veiculo" class="form-label">{{ form.veiculo.label }}
                  <strong style="color:red;"> *</strong>
                </label>
                {{ form.veiculo }}
                {% if form.veiculo.errors %}
                  <label class="error">
                    {% for error in form.veiculo.errors %}
                      {{ error }}
                    {% endfor %}
                  </label>
                {% endif %}
              </div>
              <div class="mb-3 col-md-6">
                <label for="motorista" class="form-label">{{ form.motorista.label }}</label>
                {{ form.motorista }}
                {% if form.motorista.errors %}
                  <label class="error">
                    {% for error in form.motorista.errors %}
                      {{ error }}
                    {% endfor %}
                  </label>
                {% endif %}
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Salvar</button>
                <a href="{% url 'agenda:listar_agendamentos' %}">
                  <button type="button" class="btn btn-outline-danger">Cancelar</button>
                </a>
              </div>
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}