{% extends "Base/base.html" %}
{% load static %}
{% load pagination_tag %}

{% block titulo_pagina %}
Veículos
{% endblock %}

{% block raiz %}
Agendamento
{% endblock %}

{% block titulo %}
Listar
{% endblock %}

{% block conteudo %}

<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Agenda dos Veículos</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <div id="calendar" class="container" style="padding: auto;">
              <div id="events">
              </div>
            </div>
            <br>
         </div>
        </div>
      </div>
    </div>
</div>
                   
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Agendamentos</h5>

            <small class="text-muted float-end">
              <form action="" method="get">
                <input class="form-control mr-sm-2" type="text" name="texto" id="id_texto" placeholder="Busca" value="{{ request.GET.texto }}">
              </form>
            </small>
        </div>
        <div class="card-body">
          <div class="table-responsive text-nowrap">
            <table id="tabela_veiculos" class="table table-striped">
              <thead>
                <tr>
                  <th>Descrição</th>
                  <th>Saída</th>
                  <th>Chegada</th>
                  <th>Veículo</th>
                  <th>Motorista</th>
                  <th>Cadastrado por</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                  {% for agenda in agendas %}
                  <tr>
                      <td>{{ agenda.descricao }}</td>
                      <td>{{ agenda.data_saida|date:"d-m-Y H:i" }}</td>
                      <td>{{ agenda.data_retorno|date:"d-m-Y H:i" }}</td>
                      <td>{{ agenda.veiculo }}</td>
                      <td>{{ agenda.motorista }}</td>
                      <td>{{ agenda.usuario_cadastro }}</td>
                      <td>
                        <a href="{% url 'agenda:editar_agendamento' pk=agenda.id %}">
                          <i class='bx bx-edit-alt text-warning'></i>
                        </a>
                        <a href="{% url 'agenda:deletar_agendamento' pk=agenda.id %}">
                          <i class='bx bx-x-circle text-danger'></i>
                        </a>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <br>
            <div class="pagination justify-content-center">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                    <li class="page-item first">
                      <a class="page-link" href="?{% param_replace page=1 %}"
                        ><i class="tf-icon bx bx-chevrons-left"></i
                      ></a>
                    </li>
                    <li class="page-item prev">
                      <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}"
                        ><i class="tf-icon bx bx-chevron-left"></i
                      ></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number%}">{{ page_obj.previous_page_number }}</a>
                    </li>
                  {% else %}
                    <li class="page-item first disabled">
                      <a class="page-link" href=""
                        ><i class="tf-icon bx bx-chevrons-left"></i
                      ></a>
                    </li>
                    <li class="page-item prev disabled">
                      <a class="page-link" href=""
                        ><i class="tf-icon bx bx-chevron-left"></i
                      ></a>
                    </li>
                  {% endif %}
                  
                  <li class="page-item active">
                    <a class="page-link" href="?{% param_replace page=page_obj.number%}">{{ page_obj.number }}</a>
                  </li>

                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?{% param_replace page=page_obj.next_page_number%}">{{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item next">
                      <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}"
                        ><i class="tf-icon bx bx-chevron-right"></i
                      ></a>
                    </li>
                    <li class="page-item last">
                      <a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}"
                        ><i class="tf-icon bx bx-chevrons-right"></i
                      ></a>
                    </li>
                  {% else %}
                    <li class="page-item next disabled">
                      <a class="page-link" href=""
                        ><i class="tf-icon bx bx-chevron-right"></i
                      ></a>
                    </li>
                    <li class="page-item last disabled">
                      <a class="page-link" href=""
                        ><i class="tf-icon bx bx-chevrons-right"></i
                      ></a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
          </div>
          <small class="text-muted float-end">
            Mostrando {{paginator.count}} elemento(s)
          </small>
         </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}


{% block extra_js %}
<!-- calendar -->
<script src="{% static 'calendar/lib/main.js' %}"></script>
<script src="{% static 'calendar/lib/locales-all.js' %}"></script>
<script>
  console.log(agendas_json)
  document.addEventListener('DOMContentLoaded', function(){
    var calendarUI = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(calendarUI, {
      timeZone: 'UTC',
      initialView: 'dayGridMonth',
      events: [
      
        {% for agenda in agendas_json %}
          {
           title: '{{ agenda.descricao }}',
            start: '{{ agenda.data_saida }}'
          },
        {% endfor %} 
        {
          title: 'UFRN Campo Central',
          start: '2022-09-22'
        },    
        {
          title: 'UFRN Campo Central',
          start: '2022-09-23'
        }
      ],
      editable: false,
      selectable: false
    });
    calendar.render();
    calendar.setOption('locale', 'pt-br')
  });
</script>
{% endblock extra_js %}